<h1>Autenticacion</h1>
<h2>Ingresar al sistema</h2>
<form action="/Autenticacion/Autenticacion" method="post">

  <div>
    <label>Correo</label>
    <input type="email" placeholder="Ingresar correo" name="correo">
  </div>

  <div>
    <label>Contraseña</label>
    <input type="password" placeholder="Ingresar contraseña" name="password">
  </div>

  <button type="submit">Autenticar</button>
